<div class="row tr-3">
    <div class="col-2">
        <side-menu></side-menu>
    </div>
    <div class="col-10">
        <h1>StandAlone Component -- Page</h1>
        <hr>

        <div class="row">
            <div class="col">
                <p>This Component doesn't need to be imported in modules</p>
                <p>Because it is its own module</p>

                <!-- Counter -->
                <!-- A standalone component inside of another standalone component -->
                <counter-alone [counter]="25"></counter-alone>
            </div>
        </div>
    </div>
</div>